In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
## EV rate in Georgia is 0.96%, Plus Hybrid is 3.01%
## EV rate in North Carolina is 0.77%, Plus Hybrid is 3.35%

In [ ]:
### Total weekday trip count is highest in October ( 900,598,817.00 ), lowest in January ( 657,822,247.00 )

In [2]:
# Load the travel demand data - add path to the "GDOT_2019_09.csv"
data = pd.read_csv('')

/var/folders/zp/kw184wnx39g6s434mkvk1_zw0000gn/T/ipykernel_74240/1029961025.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/heyueshuai/Desktop/ACM SIGSPATIAL cup/GDOT_2019_09.csv')

In [3]:
data.head()

,year,month,origin_zone_id,destination_zone_id,origin_zone_name,destination_zone_name,origin_state,destination_state,origin_flag,destination_flag,...,age_55_64_pct,age_gt65_pct,income_0_25k_pct,income_25_50k_pct,income_50_75k_pct,income_75_125k_pct,income_gt125k_pct,gender_male_pct,gender_female_pct,flag
0,2019,9,1005,130039602002,Barbour County,Block Group 2,AL,GA,gdot_halo,gdot_core,...,1.0,0.0,0.0,0.478261,0.521739,0.0,0.0,0.5,0.5,0
1,2019,9,1005,130099702012,Barbour County,Block Group 2,AL,GA,gdot_halo,gdot_core,...,0.0,0.0,0.0,0.634615,0.365385,0.0,0.0,0.5,0.5,0
2,2019,9,1005,130159601031,Barbour County,Block Group 1,AL,GA,gdot_halo,gdot_core,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.5,0.5,0
3,2019,9,1005,130159602011,Barbour County,Block Group 1,AL,GA,gdot_halo,gdot_core,...,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.5,0.5,0
4,2019,9,1005,130159604031,Barbour County,Block Group 1,AL,GA,gdot_halo,gdot_core,...,1.0,0.0,0.0,0.000000,1.000000,0.0,0.0,0.5,0.5,0

In [3]:
# Load the estimated EV registration data in GA - path to "georgia_place_infrastructure_emb_zip_code_avg_autoenc_64_predicted.csv"
ga = pd.read_csv('')

In [10]:
# data is in bin number, need to convert to real vehicle count
import numpy as np
bin_ranges = {
    0: (1, 13),
    1: (13, 52),  # Bin 1 has range from 0 to 10
    2: (52, 229),  # Bin 2 has range from 10 to 20
    3: (229, 3287)   # Bin 3 has range from 20 to 30
    
}
def get_random_within_bin(bin_num):
    min_val, max_val = bin_ranges[bin_num]
    return np.random.uniform(min_val, max_val)

# Apply the function to generate a random number within the bin range
ga['ev_number'] = ga['predicted_ev_count_bin'].apply(get_random_within_bin)

In [11]:
# Normalized with actual GA ev number
ga['ev_number'] = np.ceil(ga['ev_number']/sum(ga['ev_number']) * 92400)

In [13]:
ga.head(10)

,geohash,spabert_emb,spabert_emb_autoenc_64,predicted_ev_count_bin,geometry
0,130019501001,"[0.104318362, 0.0651235181, 0.234638516, -0.09...","[-0.9874395132064819, 0.7189356684684753, 0.18...",0.000000,"POLYGON ((-82.313327 31.854091, -82.3098809999..."
1,130019501002,"[0.0778613784, 0.0105139935, 0.210109607, -0.0...","[-0.884894073009491, 0.754471480846405, -0.032...",0.000000,"POLYGON ((-82.43153099999999 31.966182, -82.43..."
2,130019502001,"[0.216935005, 0.11450163, 0.37819556, 0.042714...","[-0.5877415537834167, 0.41806668043136597, -0....",0.000000,"POLYGON ((-82.35006299999999 31.841859, -82.34..."
3,130019502002,"[0.165638078, 0.0362456149, 0.267283998, -0.07...","[-0.6632027626037598, 0.29779720306396484, -0....",0.000000,"POLYGON ((-82.458682 31.838104, -82.4313619999..."
4,130019502003,"[0.170672136, 0.0788390569, 0.284971278, -0.08...","[-0.5995107889175415, 0.32114917039871216, -0....",0.000000,"POLYGON ((-82.352755 31.783778, -82.351657 31...."
5,130019503001,"[0.205458195, 0.039223665, 0.348524765, -0.085...","[-0.3814218044281006, 0.10210813581943512, -0....",39.102835,"POLYGON ((-82.361689 31.777988, -82.3594059999..."
6,130019503002,"[0.299535681, 0.101437235, 0.327075065, 0.0141...","[-0.6751331686973572, 0.4912971258163452, -0.1...",0.000000,"POLYGON ((-82.451404 31.81101, -82.450969 31.8..."
7,130019503003,"[0.110824088, 0.00242863328, 0.350202024, -0.0...","[-0.4840152859687805, 0.22156812250614166, -0....",39.102835,"POLYGON ((-82.370521 31.729838, -82.3686039999..."
8,130019503004,"[0.0496579415, 0.0488239549, 0.38009464, -0.07...","[-0.6485148072242737, 0.42779916524887085, -0....",0.000000,"POLYGON ((-82.35499799999999 31.724167, -82.35..."
9,130019504001,"[0.112856743, 0.0940017233, 0.33952355, -0.024...","[-0.6976528167724609, 0.4845939874649048, -0.0...",0.000000,"POLYGON ((-82.319453 31.759799, -82.3165049999..."

In [8]:
# Selected trips within GA
trip = data.loc[data['origin_state'] == 'GA',:]
trip = trip.loc[trip['destination_state'] == 'GA',:]

In [15]:
# Selected trips of weekday
trip_wd = trip.loc[trip['day_type'] == 'Weekday']
trip_we = trip.loc[trip['day_type'] == 'Weekend']

In [16]:
# Calculate the trip distribution per origin
trip_wd['count'] = trip_wd.groupby('origin_zone_id')['total_linked_trips'].transform('sum')
trip_wd['distribution'] = trip_wd['total_linked_trips']/trip_wd['count']

/var/folders/zp/kw184wnx39g6s434mkvk1_zw0000gn/T/ipykernel_74240/3195983055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_wd['count'] = trip_wd.groupby('origin_zone_id')['total_linked_trips'].transform('sum')

In [18]:
trip_wd['distribution'].describe()

count    2.085335e+06
mean     3.572088e-03
std      1.393567e-02
min      0.000000e+00
25%      2.495243e-04
50%      6.461022e-04
75%      1.923331e-03
max      7.007886e-01
Name: distribution, dtype: float64

In [19]:
# Adjust the zone id to int
trip_wd['origin_zone_id'] = trip_wd['origin_zone_id'].astype(int)

/var/folders/zp/kw184wnx39g6s434mkvk1_zw0000gn/T/ipykernel_74240/602874980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_wd['origin_zone_id'] = trip_wd['origin_zone_id'].astype(int)

In [20]:
# Match the trip table with EV registration
df = trip_wd.merge(ga.loc[:,['geohash','ev_number']], left_on = 'origin_zone_id', right_on = 'geohash', how = 'left')

In [30]:
# Selected top 5 destinations for each origin
test = df.sort_values(['origin_zone_id','distribution'], ascending = False).groupby('origin_zone_id').head(5)

In [55]:
# Normalized the distribution among selected destinations
test['total'] = test.groupby('origin_zone_id')['distribution'].transform('sum')
test['new_distribution'] = test['distribution'] / test['total']
test['ev_number'] = test['ev_number'].fillna(0)

In [82]:
# Estimated number of EV trips per destination

test['ev_trips'] = np.ceil(test['ev_number'] * test['new_distribution'])

In [84]:
test['ev_trips'].sum()

62025.0

In [213]:
# Estimated the EV charging demand by the maximum of EV trips or EV registration per census block, considering
# both the demand of home charging and en-route charging
test['destination_zone_id'] = test['destination_zone_id'].astype(int)
demand = test.groupby('destination_zone_id')['ev_trips'].sum()
demand = demand.reset_index()
demand.columns = ['id', 'count']
total_demand = ga.merge(demand, left_on = 'geohash', right_on = 'id', how = 'left')
total_demand['geohash'] = total_demand['geohash'].fillna(total_demand['id'])
total_demand['ev_number'] = total_demand['ev_number'].fillna(0)
total_demand['count'] = total_demand['count'].fillna(0)
total_demand['demand'] = total_demand[['ev_number', 'count']].max(axis = 1)
total_demand['geohash'] = total_demand['geohash'].astype(int)

In [227]:
# Load the existing EV stations "Existing ev charging stations.csv"
ev_stations = pd.read_csv('')
# ev_stations['join_id'] = ev_stations['join_id'].astype(int)

# Count the number of existing chargers per census block
chargers = ev_stations.groupby('join_id')['chargers'].sum()
chargers = chargers.reset_index()

# Match the existing charger number with the demand table
demand = total_demand.merge(chargers, left_on = 'geohash', right_on = 'join_id', how = 'left')

In [231]:
# Output the final charging demand file - "final_demand.csv"
demand['join_id'] = demand['join_id'].fillna(demand['geohash'])
demand['chargers'] = demand['chargers'].fillna(0)
demand.loc[:,['geohash', 'ev_number', 'count', 'demand','chargers']].to_csv("",index = None)

In [236]:
dac = pd.read_csv('dac.csv')

In [238]:
dac_grouped = dac.groupby('id')['DAC'].max().reset_index()

In [241]:
len(dac_grouped)

5529

In [242]:
final_demand = pd.read_csv('final_demand_assigned.csv')

In [244]:
final_demand = final_demand.merge(dac_grouped, left_on = 'geohash', right_on = 'id', how = 'left')
final_demand

,geohash,ev_number,count,demand,chargers,GEOID,geometry,assigned_ev_station,id,DAC
0,130019501001,2.0,2,2.0,0.0,130019501001,"POLYGON ((-82.313327 31.854091, -82.3098809999...",0.0,130019501001,1
1,130019501002,1.0,2,2.0,0.0,130019501002,"POLYGON ((-82.43153099999999 31.966182, -82.43...",2.0,130019501002,1
2,130019502001,2.0,2,2.0,0.0,130019502001,"POLYGON ((-82.35006299999999 31.841859, -82.34...",0.0,130019502001,1
3,130019502002,1.0,1,1.0,0.0,130019502002,"POLYGON ((-82.458682 31.838104, -82.4313619999...",1.0,130019502002,1
4,130019502003,2.0,1,2.0,1.0,130019502003,"POLYGON ((-82.352755 31.783778, -82.351657 31....",1.0,130019502003,1
...,...,...,...,...,...,...,...,...,...,...
5515,133219505001,1.0,4,4.0,0.0,133219505001,"POLYGON ((-83.996708 31.543776, -83.9966649999...",0.0,133219505001,1
5516,133219505002,2.0,4,4.0,0.0,133219505002,"POLYGON ((-83.99708699999999 31.507574, -83.97...",4.0,133219505002,1
5517,133219505003,291.0,291,291.0,0.0,133219505003,"POLYGON ((-83.85294999999999 31.53197, -83.850...",7.0,133219505003,1
5518,133219506001,1.0,2,2.0,0.0,133219506001,"POLYGON ((-83.999364 31.336858, -83.9977959999...",0.0,133219506001,1
5519,133219506002,2.0,2,2.0,0.0,133219506002,"POLYGON ((-83.94037 31.37545, -83.93987 31.401...",0.0,133219506002,1

In [256]:
final_demand['geohash'] = final_demand['geohash'].astype(str)

In [265]:
final_demand.loc[final_demand['SN_C'] == 1, 'assigned_ev_station'].describe()

count    2418.000000
mean        2.450786
std         4.704185
min         0.000000
25%         0.000000
50%         1.000000
75%         2.000000
max        51.000000
Name: assigned_ev_station, dtype: float64

In [266]:
final_demand.loc[final_demand['SN_C'] == 0, 'assigned_ev_station'].describe()

count    3102.000000
mean        2.618956
std         5.076061
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max        66.000000
Name: assigned_ev_station, dtype: float64

In [264]:
final_demand.to_csv('final_demand_assigned_dac.csv')

In [259]:
import geopandas as gpd
maps = gpd.read_file('usa.shp')

In [257]:
final_demand['id_full_trimmed'] = final_demand['geohash'].str[:-1]

In [260]:
maps.columns

Index(['GEOID10', 'SF', 'CF', 'DF_PFS', 'AF_PFS', 'HDF_PFS', 'DSF_PFS',
       'EBF_PFS', 'EALR_PFS', 'EBLR_PFS',
       ...
       'AGE_10', 'AGE_MIDDLE', 'AGE_OLD', 'TA_COU_116', 'TA_COUNT_C',
       'TA_PERC', 'TA_PERC_FE', 'UI_EXP', 'THRHLD', 'geometry'],
      dtype='object', length=124)

In [262]:
final_demand = final_demand.merge(maps[['GEOID10','SN_C']], left_on = 'id_full_trimmed', right_on = 'GEOID10', how = 'left' )

In [263]:
final_demand

,geohash,ev_number,count,demand,chargers,GEOID,geometry,assigned_ev_station,id,DAC,id_full_trimmed,GEOID10,SN_C
0,130019501001,2.0,2,2.0,0.0,130019501001,"POLYGON ((-82.313327 31.854091, -82.3098809999...",0.0,130019501001,1,13001950100,13001950100,0
1,130019501002,1.0,2,2.0,0.0,130019501002,"POLYGON ((-82.43153099999999 31.966182, -82.43...",2.0,130019501002,1,13001950100,13001950100,0
2,130019502001,2.0,2,2.0,0.0,130019502001,"POLYGON ((-82.35006299999999 31.841859, -82.34...",0.0,130019502001,1,13001950200,13001950200,1
3,130019502002,1.0,1,1.0,0.0,130019502002,"POLYGON ((-82.458682 31.838104, -82.4313619999...",1.0,130019502002,1,13001950200,13001950200,1
4,130019502003,2.0,1,2.0,1.0,130019502003,"POLYGON ((-82.352755 31.783778, -82.351657 31....",1.0,130019502003,1,13001950200,13001950200,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5515,133219505001,1.0,4,4.0,0.0,133219505001,"POLYGON ((-83.996708 31.543776, -83.9966649999...",0.0,133219505001,1,13321950500,13321950500,1
5516,133219505002,2.0,4,4.0,0.0,133219505002,"POLYGON ((-83.99708699999999 31.507574, -83.97...",4.0,133219505002,1,13321950500,13321950500,1
5517,133219505003,291.0,291,291.0,0.0,133219505003,"POLYGON ((-83.85294999999999 31.53197, -83.850...",7.0,133219505003,1,13321950500,13321950500,1
5518,133219506001,1.0,2,2.0,0.0,133219506001,"POLYGON ((-83.999364 31.336858, -83.9977959999...",0.0,133219506001,1,13321950600,13321950600,0
5519,133219506002,2.0,2,2.0,0.0,133219506002,"POLYGON ((-83.94037 31.37545, -83.93987 31.401...",0.0,133219506002,1,13321950600,13321950600,0